@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

/* Define your custom font */
@font-face {
  font-family: 'Dharma-Gothic-E-Bold';
  src: url('./assets/fonts/DharmaGothicEBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-Gothic-E-ExBold-Italic';
  src: url('./assets/fonts/DharmaGothicEExBoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-Gothic-E-Light-Italic';
  src: url('./assets/fonts/DharmaGothicELightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Dharma-Gothic-E-Bold", "Dharma-Gothic-E-ExBold-Italic", "Dharma-Gothic-E-Light-Italic", "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-full xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
  @apply w-full h-full flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}

.download-btn {
  @apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.sessiontabs-container {
  @apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

/*              MICROPHONE              */
.mic-button {
  @apply text-white rounded-full p-4 shadow-lg focus:outline-none flex items-center justify-center;
  background-color: rgba(255, 255, 255, 0.501); /* White background */
  border: 2px solid #212121; /* Golden border */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.mic-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.mic-button:active, .mic-button.pressed {
  transform: scale(1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8c1; /* Slightly darker white to indicate active state */
}

.mic-icon {
  font-size: 2.5rem; /* Adjust the icon size */
  color: #212121; /* Golden color for the icon */
}


/*              CHAT SYSTEM              */

.chat-system-container {
  @apply fixed top-0 left-full glassmorphism p-3 flex flex-col rounded-md overflow-hidden;
  width: 60vh;
  height: 50vh;

  @media (max-width: 768px) {
    width: 80vw;
    height: 50vh;
  }

  @media (max-width: 640px) {
    width: 80vw;
    height: 50vh;
  }
}

.chat-history-container {
  @apply flex-1 overflow-y-auto p-3 flex flex-col;
}

.chat-input-container {
  @apply flex items-center p-3 bg-white shadow-md rounded-md mt-2;
}

.chat-input {
  @apply flex-1 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500;
  resize: none;
}

.send-button {
  @apply ml-2 px-4 py-2 text-white rounded-lg hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500;
  background: #EFBD48;
}

.chat-message {
  @apply my-2 p-3 rounded-lg max-w-[60%] break-words;
  display: flex;
}

.user-message {
  @apply ml-auto text-white;
  background: #EFBD48;
}

.therapist-message {
  @apply mr-auto bg-gray-300 text-black;
}

.loading-spinner {
  @apply flex justify-center items-center text-gray-500 my-2;
}


/*              CHAT SYSTEM ( END )              */




.inputtabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.bottom-tab-content {
  @apply absolute bottom-full mb-3 left-1/2 transform -translate-x-1/2 p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.inputtext-textarea {
  @apply w-full bg-transparent text-sm border border-gray-300 p-3 outline-none flex-1;
  resize: none;
}

.filepicker-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
  @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.sessioninfo-container {
  @apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
  font-family: 'Dharma-Gothic-E-Light-Italic', sans-serif;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.sessioninfo-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.sessioninfo-header {
  font-size: 54px;
  background: #EFBD48;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
}

.sessioninfo-header h2 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.sessioninfo-content {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sessioninfo-content p {
  margin: 5px 0;
  font-size: 1.5rem;
  /* Increase from 1rem to 1.25rem */
  color: #EFBD48;
}

.sessioninfo-content p strong {
  font-size: 1.5rem;
  color: #333;
}


.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.sketch-picker {
  width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker>div:nth-child(3) {
  display: none !important;
}


@media (max-width: 640px) {
  .head-text {
    font-size: 4.5rem;
    /* Adjust the font size for small screens */
    word-wrap: break-word;
    text-align: center;
    /* Center the text */
  }

  .home-content {
    padding: 0 1rem;
    text-align: center;
    /* Add padding to the home content on mobile */
  }

  .home-content p {
    font-size: 1rem;
    /* Adjust paragraph font size for small screens */
    text-align: center;
    /* Center the paragraph */
  }
}



#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-chat {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: left;
}

.chat-Historyc {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20%;
  width: 3.5vw;
  height: 3.5vw;
}

.chat-Historyo {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4%;
  width: 30vw;
  height: 45vh;
}

/* ::placeholder {
  color: white;
  text-align: center;
  opacity: 1;
} */

.placeholder1::placeholder {
  color: white;
  opacity: 1;
}

.placeholder2::placeholder {
  color: rgba(219, 168, 66, 255);
  text-align: center;
}

.placeholder3::placeholder {
  color: white;
  opacity: 1;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.icon {
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;

  span {
    width: 3px;
    height: 100%;
    background-color: orange;
    border-radius: 3px;
    content: '';
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
    /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1);
    /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5);
    /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75);
    /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6);
    /* scale down to 60% */
  }
}

.span-prop {
  width: 3px;
  height: 100%;
  background-color: orange;
  border-radius: 3px;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

span {
  &:nth-of-type(2) {
    animation-delay: -2.2s;
    /* Start at the end of animation */
  }

  &:nth-of-type(3) {
    animation-delay: -3.7s;
    /* Start mid-way of return of animation */
  }
}

.ChatBubble {
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 1;
}

.ChatBubble2 {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 1;
}


.hamburger-menu {
  font-family: 'MyFont', sans-serif;
  font-size: 1.2rem;
  /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hamburger-menu .MuiPaper-root {
  background-color: inherit;
  /* Ensure the background color applies */
}

.hamburger-menu .MuiMenuItem-root {
  padding: 10px 20px;
  /* Adjust padding as needed */
  color: #333;
  /* Text color */
}

.hamburger-menu .MuiMenuItem-root:hover {
  background-color: rgba(0, 0, 0, 0.05);
  /* Hover effect */
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 300px;
  text-align: center;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}


